
/*link para fonte externa*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


/*arquivo root = resetar elementos da página html*/
:root{
    margin: 0;
    padding: 0;
    /*elemento garante que o elemento padding
     não aumente o tamanho total do elemento*/
    box-sizing: border-box;
}

.main-header{
    background-image: url("https://c.tenor.com/pzb_lQRojJYAAAAC/tenor.gif");
    background-repeat: no-repeat;
    background-color: rgb(249, 250, 250);
    width: 100%;
    padding: 250px 0;
    box-shadow: 5px 6px 6px 12px rgb(0, 0, 0);
}

.main-header h1{
    color: rgb(3, 255, 24);

}